/*###################################################### CONFIG GERAIS ######################################################*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 235, 235);
    overflow-x: hidden;
}

/*###################################################### NAV ######################################################*/

.logo{
    width: 113px;
    height: 50px;
    border: 1px solid #e9d636;
    text-align: center;
    color: #e9d636;
    padding: 10px;
    
}





header nav a label{
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
}

header nav a label:hover{
    opacity: 0.5;
}

header nav a{
    text-decoration: none;

}

header, nav{
    width: 100vw;
    height: 60px;
    background-color: #1d3340;
    position: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

main{
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*##################################  TABELA DE INFORMAÇÕES DE ALUNOS - ABASTECE A TABELA GERAL  ###########################*/

.info-container{
    margin-top: 10%;
    background-color: #069;
    min-width: 50%;
    max-width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column ;
}

.info-form{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 80%;
    align-items: center;
    overflow-y: scroll;
    background-color: #1d3340;
    margin-top: 30px;
}


.info-list{
    margin-top: 10px;
    display: flex;
    align-items: center;
}




.info-list input{
    padding: 8px;
}

.info-list input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}


.info-list input:first-child{
    width: 50%;
}








@media (max-width: 700px){
    main{
        padding-top: 60px;
    }

    .info-list input[type="checkbox"]{
        width: 30px;
        height: 30px;
        margin-left: 20px
    }

    .info-form{
        align-items: center;
        margin-bottom: 10px;
    }

    .info-container{

        width: 100%;
    }

    .info-list{
        margin-top: 10px;
    }




}