/*###################################################### CONFIG GERAIS ######################################################*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 235, 235);
}


/*###################################################### NAV ######################################################*/
.logo{
    width: 113px;
    height: 50px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1d3340;
    
}

.drop{
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop::after{
    content: "";
    background-color: #fff;
    width: 40px;
    height: 3px;
    position: absolute;
    transform: translateY(10px);
    transition: .3s;
}


.drop::before{
    content: "";
    background-color: #fff;
    width: 40px;
    height: 3px;
    position: absolute;
    transform: translateY(0px);
    transition: .3s;
}



.drop.active::after{
    transform: translateY(5px) rotate(30deg);
    transition: .3s;
}

.drop.active::before{
    transform: translateY(5px) rotate(-30deg);
    transition: .3s;
}


header nav a label{
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
}

header nav a label:hover{
    opacity: 0.5;
}

header nav a{
    text-decoration: none;

}

header, nav{
    width: 100vw;
    height: 60px;
    background-color: #1d3340;
    position: fixed;
    z-index: 1000;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}


.msg-edit{
    width: 380px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 235, 235);
    margin-bottom: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
}

.modal-info-user{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,0.7);
    transition: .8s;
}

.modal-info-user.active{
    display: flex;
}

.win-edit-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 400px;
    background-color:rgb(240, 235, 235);
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form-edit-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.form-edit-container form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.form-edit-container form div{
    width: 50%;
    flex-basis: 48%;
}

.form-edit-container form div:nth-child(4){
    flex-basis: 100%;
}

.form-edit-container form:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:rgb(240, 235, 235);
}



.form-edit-container form div input{
   width: 100%;
   height: 50px;
   padding: 6px;
   text-align: center;
}

.form-edit-container form div input[type="email"]{
    width: 100%;
}

.editbutton{
    width: 80px;
    height: 40px;
    padding: 10px;
    background-color: #1d3340;
    border: none;
    border-radius: 10px;
    color: #e9d636;
    font-size: 1em;

}

.editbutton:hover{
    background-color:#122029;
    cursor: pointer;
    transition: .5s;
}



.modalpopup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 2000;
    background-color: rgba(0,0,0,0.0);
    display: none;
 
}

@keyframes modalanim{
    from{
        transform: translate(0, -20px);
    }
    to{
        transform: translate(0,0);
    }
}

.modalpopup{
    animation: modalanim .3s;
}

.popup{
    width: 250px;
    height: 400px;
    position: absolute;
    background-color: #1d3340;
    top: 62px;
    right: 5px;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    padding: 10px;
}

.popup div a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}


.popup a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.popup a:first-child{
    margin-top: 8px;
}

.popup a:hover{
    opacity: 0.5;
}

.popup .leave{
    background-color: #122029;
    text-align: center;
    margin-top: 50px;
    height: 30px;
    padding: 5px;
    text-align: center;
}



.edit-aluno a, .edit-prof a{
    width: 100%;

}



/*###################################################### MAIN ######################################################*/

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10% 15%;
    background-color: rgb(240, 235, 235);
    GAP: 3rem;


}

.painelinfo{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-shadow: 0px 0px 0px 5px #ccc;
    margin: 0 auto;
    background-color: #1d3340;

}



.painelinfo:hover{
    cursor: pointer;
    opacity: 0.9;

}

.painelinfo label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4px;
    color: white;
    font-size: .95rem;
}

.painelinfo label:nth-child(1){
    margin: 10px auto;
}

.painelinfo label:nth-child(n):hover{
    cursor: pointer;
}

.link-card{
    width: 250px;
    height: 180px;
    text-decoration: none;
    margin: 0 auto;
}

/*###################################################### MODAL MATRICULAR ######################################################*/

.modal-matricular{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 2000;
}

.win-matricular{
    width: 600px;
    height: 500px;
    background-color: rgb(240, 235, 235);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-button{
    width: 20px;
    height: 20px;
    border: 1px solid #1d3340;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 5px #1d3340;
    text-align: center;
    text-decoration: none;
    color: #e9d636;
    font: bolder;
    background-color: #1d3340;
    font-size: 20px;
    line-height: 0.7;
}



@keyframes modalMatric{
    from{

        transform: translate(100%, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

.win-matricular{
    animation: modalMatric .5s;
}


/*###################################################### MODAL CAD PROF ######################################################*/

.modal-cad-prof{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 2000;
}

.win-cad-prof{
    width: 600px;
    height: 500px;
    background-color: rgb(240, 235, 235);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.close-button{
    width: 20px;
    height: 20px;
    border: 1px solid #1d3340;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 5px #1d3340;
    text-align: center;
    text-decoration: none;
    color: #e9d636;
    font: bolder;
    background-color: #1d3340;
    font-size: 20px;
    line-height: 0.7;
}



@keyframes modalCadProf{
    from{

        transform: translate(100%, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

.win-cad-prof{
    animation: modalCadProf .5s;
}





/*###################################################### MODAL CADASTRAR ######################################################*/



.modal-cadastrar{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    transition: .5s;
    z-index: 2000;
}


.win-cadastrar{
    width: 400px;
    height: 400px;
    background-color: rgb(240, 235, 235);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


.close-button2{
    width: 20px;
    height: 20px;
    border: 1px solid #1d3340;;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 5px #1d3340;
    text-align: center;
    text-decoration: none;
    color: #e9d636;
    font: bolder;
    background-color: #1d3340;
    font-size: 20px;
    line-height: 0.7;
}


.win-cadastrar form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px
}

.win-cadastrar form div{
    flex-basis: 40%;
    width: 40%;
}

.win-cadastrar form div input{
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}

.win-cadastrar form div select{
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}

.win-cadastrar form div:nth-child(3){
    flex-basis: 80%;
    width: 80%;
}


.win-cadastrar form div input[type="submit"]{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #1d3340;
    color:#e9d636;
}

.win-cadastrar form div input[type="submit"]:hover{
    background-color:#122029;
    transition: .5s;
    cursor: pointer;

}

.win-cadastrar form div:last-child{
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
}


.msg_cadastrar{
    width: 400px;
    height: 50px;
    background-color: rgb(240, 235, 235);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.win-cadastrar form div label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

/* ******************************* fim modal cadastrar ***************************************** */




.mat a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cad-user a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cad-prof a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

@keyframes modalMatric{
    from{

        transform: translate(100%, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

.win-cadastrar, .msg_cadastrar{
    animation: modalMatric .5s;
}

.modal-salas{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    display: none;
    opacity: 0;
    visibility: hidden;

}

.modal-salas.active{
    display: block;
    opacity: 1;
    visibility: visible;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-container{

    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    

}

.form-container form{
    width: 90%;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;

    
}


.form-container form input, select{
    width: 80%;
    padding: 8px;
    text-align: center;
    display: block;
    outline: none;

}

.form-container form label{
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-container form input[type="submit"]{
    margin: 150px auto;
    background-color:  #1d3340;
    color: #e9d636;
    border-radius: 10px;
    font-weight: bold;
    width: 25%;
    height: 15%;
    padding: 5px;
}

.form-container form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.85;
    transition: .5s;
}



.container1, .container2{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container1{
    border-right: 1px solid #ccc;
}

/* ###########  MOLDAIS EDIT  ############*/

/* EDIT ALUNOS */




/* EDIT PROFESSOR */

.modal-edit-prof{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    z-index: 2000;

}

.modal-edit-prof.active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.win-edit-prof{
    width: 600px;
    height: 500px;
    background-color: rgb(240, 235, 235);
    position: relative;
}

.win-edit-prof form{
    width: 100%;
    height: 100%;
}

.container-prof{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin-top: -20px;
    overflow-y: scroll;

}

.win-edit-prof > p{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.item-prof, .item-sala{
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.item-prof input, select, .item-sala input{
    flex-basis: 30%;
    border: none;
    outline: none;
    padding: 5px;
}



.item-sala{
    background-color: #1d3340;
    height: 40px;
    padding: 10px 0;
}

.item-sala input{
    text-align: center;
    font-weight: bold;
    color:#e9d636;
    background-color: #1d3340;
}




/* ###########  *MOLDAIS EDIT*  ############*/


@media (max-width: 700px){

    .form-container{
        border: none;
        width: 100%;
        height: 100%;
    }

    .container1, .container2{
        width: 100%;
    }

    .form-container form{

        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        flex-wrap: nowrap;
        gap: 0
    }

    .form-container form input, select{
        margin: 10px auto;
        width: 100%;
        padding: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;

    }


    .form-container form label{
        margin: 3px auto;
    }

    .container2 input[type="date"]{
        width: 70%;
    }

   .form-container form input[type="submit"]{
        margin: 20px auto;
        background-color:  #1d3340;
        color: #e9d636;
        border-radius: 10px;
        width: 60%;
        height: 50px;
        font-size: .8em;
    }

    .container1{
        border-right: none;
    }

}



@media (max-width: 700px){
    .win-matricular{
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .win-cad-prof{
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }


    .win-cad-prof form{
        width: 100%;
        height: 100%;
    }

    .container1-cad-prof, .container2-cad-prof{
        width: 100%;
        height: 100%;
    }

    .win-cad-prof form input, select{
        width: 80%;
    }


    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

    }

    main:nth-child(1){
        margin-top: 51px;

    }



    .link-card{
        margin-top: 40px;
        width: 400px;
        height: 200px;
        margin: 20px auto;
    }

    main div:first-child{
        margin-top: 20px;
    }



    header nav a {
        margin-right: 10px;
    }


    .drop{
        display: flex;
        margin-left: 250px;
        justify-content: center;
        align-items: center;
        padding: 0;
        
    }

    .drop a{
        text-decoration: none;
        color: white;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        align-content: center;

    }

    .line{
        background-color: white;
        margin: 5px auto;
    }

    header nav a label{
        display: none;
    }

    .modalpopup{
        width: 200px;
        height: 500px;
        position: fixed;
        top: 60px;
        right: -200px;
        background-color: rgba(0,0,0,0.0);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
   
    }

    .modalpopup.active{
        right: 0px;
        transition: .5s;
    }
    

    .popup{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #1d3340;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        display: flex;
    
    }

    .popup a:first-child{
        margin-top: 20px;

    }

    .popup a:last-child{
        margin-top: 30px;
        width: 100%;
    }
    

}