*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-container-cad-prof{

    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    

}

.form-container-cad-prof form{
    width: 90%;
    height: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;

    
}


.form-container-cad-prof form input, select{
    width: 80%;
    padding: 8px;
    text-align: center;
    display: block;
    outline: none;

}

.form-container-cad-prof form label{
    margin-top: 10px;
    margin-bottom: 5px;
}

.form-container-cad-prof form input[type="submit"]{
    margin: 150px auto;
    background-color:  #1d3340;
    color: #e9d636;
    border-radius: 10px;
    font-weight: bold;
    width: 25%;
    height: 15%;
    padding: 5px;
}

.form-container-cad-prof form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.85;
    transition: .5s;
}



.container1-cad-prof, .container2-cad-prof{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.container2-cad-prof{
    align-items: center;
    justify-content: center;
}
.container1-cad-prof{
    border-right: 1px solid #ccc;
}

@media (max-width: 700px){

    .form-container-cad-prof{
        border: none;
    }

    .container1-cad-prof, .container2-cad-prof{
        width: 100%;
    }

    .form-container-cad-prof form{

        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        flex-wrap: nowrap;
        gap: 0
    }

    .form-container-cad-prof form input, select{
        margin: 12px auto;
        width: 90%;
        padding: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;

    }

    .form-container-cad-prof form input[type="text"]{

        width: 85%;

    }

    .form-container-cad-prof form label{
        margin: 3px auto;
    }


    .form-container-cad-prof form input[type="submit"]{
        margin: 20px auto;
        background-color:  #1d3340;
        color: #e9d636;
        border-radius: 10px;
        width: 60%;
        height: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .9em;
    }

    .container1-cad-prof{
        border-right: none;
    }

}
