*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-container{

    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;

}

form{
    width: 90%;
    height: 100%;
    padding: 20px;

}

form input, select{
    font-size: 1.0em;
    margin-bottom: 5%;
    margin-right: 3%;
    padding: 5px 25px;
    text-align: center;
    outline: none;
}

form input[type="date"]{

    margin-bottom: 1%;
}

form input[type="submit"]{

    border: none;
    border-radius: 8px;
    color:  #e9d636;
    background-color: #1d3340;
    margin-top: 1%;
}

form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;
    color: #efd636;;
}
